<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="\static\index.css">
</head>
<body>
    <div class="container text-center">
        <h2 class="text-primary">Prediction Result</h2>

        {% if output == "Safe" %}
            <div class="alert alert-success">✅ The Medicine is <b>Safe</b> for use.</div>
        {% else %}
            <div class="alert alert-danger">❌ The Medicine is <b>Not Safe</b> for use.</div>
        {% endif %}

        <a href="/" class="btn btn-secondary mt-3">Check Another Medicine</a>
    </div>
</body>
</html>
